//Colors-primary
$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);
$White: white;

//Neutral
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

//Typography
$Font-size-title: .9rem;
$Font-size-paraph: .6rem;
$Red-hat: 'Red Hat Display',sans-serif;